---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.vue';
---

<Layout title="Welcome to Astro.">
	<main class="bg-blue-400 h-svh flex items-center justify-center">
		<div>
			<p class="mb-8 text-2xl font-semibold">Prueba de componente reactivo</p>
			<Button client:load />
		</div>
	</main>
</Layout>
